@font-face{
    font-family: body;
    src: url("Fonts/Bogart-Semibold-trial.ttf");
}
@font-face{
    font-family: Devimalogo;
    src: url("Fonts/Heart.otf");
}
*
{
	font-weight: lighter;
	letter-spacing: 2px;
	margin: 0px;
	
}
body{background-color:white;}

/**L headerr a wtchma inoo**/
header{
	position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
	background-color:white;
	font-size:16px;
	width:100%;	
	padding: 5px 0px 05px 0px;;
	display: inline-flex;
	justify-content: space-around;/*rwast vertical*/
	align-items: baseline;/*spadit gi rwas hero*/  
	font-family: body;
}
.Devima a{
	cursor:grab;
	font-size: 40px;
	font-family: Devimalogo;
	font-weight: 700;
	color: #6d5ce9;
	text-decoration:none;
}

.imaa{
	color:black;
}

.Other-content {
	background-color:white;
	display: none;
	position: absolute;
	border:1px solid ;
	border-top:1px white;
}
.Other-content a{
	padding: 15px 10px;
	text-decoration: none;
}
.Other-options:hover .Other-content{display: grid;}
header div.Menu ul{
	display: flex;
	list-style: none;
}
header div ul li a{
	color: black;
	 font-weight: 1000;
	text-decoration:none;
	margin: 1px 15px;
	padding: 10px;
}
header div ul li a:hover{	
	cursor: pointer;color:#6d5ce9;
}

.Contact tr td a
{
	font-size:18px;
	color:black;
	padding-left:15px;
}
.Contact tr td a:hover
{
	cursor: pointer;color:#6d5ce9;
}
/* end header */




/* start Articel*/
article.artcle-home table{
	margin:auto;margin-top:60px;
	width:80%;
}
article.artcle-home table p{
	font-weight:400;
}
.imgpc{}
.introud{
	font-size:18px;
	font-family: body;
}
.Hello{font-family: Devimalogo;font-size:35px;}
.iamoumaima
{
	padding:0px;
	font-size:40px;
	font-weight:bolder;
	background-image: linear-gradient(to top,#e1e0ff 50%,white 1%); 
}
.iamoumaima:hover
{
	
}
.Eager
{
	color:#6d5ce9;
	padding:4px;
}


/* end Articel*/
/*  start section*/
section{
	padding:20px;
	margin:auto;
	width:80%;
	font-size:18px;
	font-family: body;
}
.whyDevima{
	padding-left:30px;
}
.whydevimaa{
	padding:0px;
	font-size:35px;
	font-weight:bolder;
	background-image: linear-gradient(to top,#e1e0ff 50%,white 1%); 
}
/*  end section*/


/* stat nav */
nav{

	display: flex;
	align-items: center;
  }
  
.MyQuotes
{	
	padding:30px;
	font-size:18px;
	font-weight:bolder;
	height:100px;
}
.mainQoute
{
	padding:10px;
	font-family: body;
	background-color:#e1e0ff;
	width:60%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:auto ;
	margin-top:50px ;
	margin-bottom:60px ;
	border:40px white double;
	border-radius:20px;
}
nav button{
	font-size:30px;
	font-weight:bolder;
	background-color: transparent;
	border: none;
	outline: none;
	text-shadow: 1px 1px 4px black;
	padding:15px;
}
/* end nav */

/* start footer */
footer{
	font-family: body;
	background-color:#e1e0ff;
}
.DesignedFooter
{
	border-top:5px white double;
	text-align:center;
	padding:20px;
}
/* end footer */
















































