@font-face
{
	font-family:"myfont";
	src:url(Oretz.otf);
}
@font-face
{
	font-family:"font";
	src:url(font/SourceSansPro-Black.otf);
	
}
body
{
	background:linear-gradient(to top right,aqua,blue,purple);
	background-size: 100% 200%;
}
div
{
	background-color:white;
	width:50%;
	margin:auto;
	
}
div header
{
	text-align:center;
	background-color:black;
	color:white;
}
div header h3
{
	padding:20px;
	font-family:"myfont";
	font-size: x-large;
}
div section
{
	width:95%;
	margin:auto;
	font-family:"font";
}
section table td input
{
	background-color:#91898929;
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 25px;
}
section table td label
{
	color:#918989b3;
}
td{width:10%;}
table table td{width:0%;}
input.lastname,label.lab-lastname{margin-left: 24px;}
input.code{margin-left: -3px;}
input.number,label.lab-number{margin-left: 44px;}



input[type="submit"] 
{
	border: none;
	padding: 10px;
	margin: 20px;
	margin-left: 0px;
	color:white;
	background-color:#f70000f0;
	width: 100px;
}