@font-face{
    font-family: body;
    src: url("../Fonts/Bogart-Semibold-trial.ttf");
}
@font-face{
    font-family: Devimalogo;
    src: url("../Fonts/Heart.otf");
}
*
{
	font-weight: lighter;
	letter-spacing: 2px;
	margin: 0px;
	margin-top:3px;
}
body{background-color:white;}

/**L headerr a wtchma inoo**/
header{
	position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
	background-color:white;
	font-size:16px;
	width:100%;	
	padding: 5px 0px 05px 0px;;
	display: inline-flex;
	justify-content: space-around;/*rwast vertical*/
	align-items: baseline;/*spadit gi rwas hero*/  
	font-family: body;
}
.Devima a{
	cursor:grab;
	font-size: 40px;
	font-family: Devimalogo;
	font-weight: 700;
	color: #6d5ce9;
	text-decoration:none;
}

.imaa{
	color:black;
}

.Other-content {
	background-color:white;
	display: none;
	position: absolute;
	border:1px solid ;
	border-top:1px white;
}
.Other-content a{
	padding: 15px 10px;
	text-decoration: none;
}
.Other-options:hover .Other-content{display: grid;}
header div.Menu ul{
	display: flex;
	list-style: none;
}
header div ul li a{
	color: black;
	 font-weight: 1000;
	text-decoration:none;
	margin: 1px 15px;
	padding: 10px;
}
header div ul li a:hover{	
	cursor: pointer;color:#6d5ce9;
}

.Contact tr td a
{
	font-size:18px;
	color:black;
	padding-left:15px;
}
.Contact tr td a:hover
{
	cursor: pointer;color:#6d5ce9;
}
/* end header */
/* start section  */
section{
	border:1px #e1e0ff double ;
	width:40%;
	padding:20px;
	margin:auto;
	margin-top:45px;
	font-family: body;
}
section h1{
	text-align:center;
	background-image: linear-gradient(to top,#e1e0ff 50%,white 1%); 
}
section form
{
	margin:25px;
}
input[type="text"] {
    padding: 10px;margin:20px;
    border: 2px solid #ccc;
	width:300px;
}
input[type="button"] {
    padding: 10px;
}

#successMessage
{
	font-size :10px;
	color:green;padding: 10px;
	visibility:hidden;
}
section table td{
	color:#514d4d;

	
}
.taskname
{
	width:260px;
}
section  #taskList tr td
{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom : 1px #ccc double;
}
#taskList{
	margin:auto;
	width:80%;
}
.deletestyle, .editestyle
{
	border:none;
	background-color: #f0f8ff00;
	font-size:15px;
}
#maintable
{
	margin:auto;
	width:90%;
}


/* end section  */
