@font-face{
    font-family: body;
    src: url("../Fonts/Bogart-Semibold-trial.ttf");
}
@font-face{
    font-family: Devimalogo;
    src: url("../Fonts/Heart.otf");
}
@font-face{
    font-family: number;
    src: url("../Fonts/Berpatu-PKxr2.otf");
}
*
{
	/* font-weight: lighter; */
	letter-spacing: 2px;
	margin: 0px;
	
}
body{background-color:white;}

/**L headerr a wtchma inoo**/
header{
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	background-color:white;
	font-size:16px;
	width:100%;	
	padding: 5px 0px 05px 0px;;
	display: inline-flex;
	justify-content: space-around;
	align-items: baseline;
	font-family: body;
}
.Devima a{
	cursor:grab;
	font-size: 40px;
	font-family: Devimalogo;
	font-weight: 700;
	color: #6d5ce9;
	text-decoration:none;
}

.imaa{	color:black;}

.Other-content {
	background-color:white;
	display: none;
	position: absolute;
	border:1px solid ;
	border-top:1px white;
}
.Other-content a{
	padding: 15px 10px;
	text-decoration: none;
}
.Other-options:hover .Other-content{display: grid;}
header div.Menu ul{
	display: flex;
	list-style: none;
}
header div ul li a{
	color: black;
	 font-weight: 1000;
	text-decoration:none;
	margin: 1px 15px;
	padding: 10px;
}
header div ul li a:hover{	
	cursor: pointer;color:#6d5ce9;
}

.Contact tr td a
{
	font-size:18px;
	color:black;
	padding-left:15px;
}
.Contact tr td a:hover
{
	cursor: pointer;color:#6d5ce9;
}
/* end header */
/* Start Section */
section{
	background-color:#efedff;
	width:70%;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
	padding:10px;
	border-radius:100px 100px 40px 40px;
	/* border:10px white double; */
	font-family: body;
}
.hints
{
	background-color:white;
	padding:40px;
	border-radius:100px;
	border:10px #efedff double;

}
.Eager
{
	color:#6d5ce9;
	padding:4px;
}
ul { list-style: none;}
h3{	font-size:22px;}
[class^="Qst"]
{
	background-color:#efedff;border:10px white double;
	margin:10px;
	padding:25px;
		padding-bottom:5px;
}
.Questions
{
	background-color:white;
	width:80%;
	margin:auto;
	margin-top:20px;
	padding:1px;border:10px #efedff double;
}
.Questions li{}
[class^="False"]
{
	color:red;
	padding:15px;
	padding-bottom:0px;
	visibility:hidden;
	
}
.EndGame
{
	background-color:white;
	width:80%;
	margin:auto;padding:20px;
	margin-top:20px;border:20px #efedff double;
	text-align:center;
}
.Submit{
	background-color:#efedff;
	padding:20px;width:80%;margin:auto;
	border:20px white double;
}
#submitQuiz{
	background-color:#6d5ce9;
	margin:15px;
	padding:7px;
	width:90px;color:white;
	font-weight:800;
}
.Score{
	visibility:hidden;
}
.ScoreNote{
	font-family: Devimalogo;	font-size:20px;
}


/* End Section */